SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=prospectanicho-exports
RFB_CNPJ_OUTPUT_DIR=
COMPANY_SEARCH_PROVIDER=minha_receita
MINHA_RECEITA_BASE_URL=https://minhareceita.org
MINHA_RECEITA_PAGE_LIMIT=1024
MINHA_RECEITA_TIMEOUT_SECONDS=40
MINHA_RECEITA_MAX_RETRIES=5
MINHA_RECEITA_MAX_CONCURRENCY=3
MINHA_RECEITA_MIN_INTERVAL_MS=200
MINHA_RECEITA_CACHE_TTL_HOURS=24
MINHA_RECEITA_MAX_PAGES_PER_QUERY=1000
MINHA_RECEITA_OVERSAMPLE_FACTOR=2
MINHA_RECEITA_CACHE_DIR=
EXPORT_RETENTION_DAYS=30
